# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
env/

# Env / secrets
.env
*.pem
*.key
*.pfx

# Editor / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log

# Docker
.dockerignore

# Build artifacts
dist/
build/
